@import '../../scss/utils';

.projects {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	list-style: none;

	@include mq($phone) {
		grid-template-columns: repeat(2, 1fr);
	}

	&__project {
		padding: 15px;
		border: 1px solid rgba(0, 0, 0, 0.11);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
	}

	&__project-title {
		svg {
			position: relative;
			top: 2px;
			margin-right: var(--spacing-1);
		}
		a {
			font-weight: 600;
		}
	}

	&__project-description {
		font-size: 0.8rem;
	}

	&__project-meta {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: auto;

		span {
			margin: var(--spacing-1);

			svg {
				position: relative;
				top: 2px;
			}
		}

		a {
			margin: var(--spacing-1) var(--spacing-2);
			font-size: var(--font-size-lg);
			background: none;
		}
	}
}
