/**
	This file contains scss variables used for utilitarian use such as media queries
*/

// Breakpoints
$phone: 480px;
$tablet: 864px;
$desktop: 1024px;

@mixin mq ($query) {
	@media screen and (min-width: $query) {
		@content;
	}
}
