.bio {
	padding: var(--spacing-5) var(--spacing-0);
	display: flex;
	align-items: center;
	justify-content: flex-start;

	&__image {

		border-radius: 50%;
		margin-right: var(--spacing-4);
	}

	p {
		flex: 1;
	}
}
