.bio {
	margin: var(--spacing-8) var(--spacing-0);
	padding: var(--spacing-5) var(--spacing-0);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-top: 2px solid var(--color-light);
	border-bottom: 2px solid var(--color-light);

	&__image {
		border-radius: 50%;
		margin-right: var(--spacing-4);
	}

	&__content {
		flex: 1;
	}

	&__author {
		font-weight: 700;
		margin-bottom: var(--spacing-0);
	}
}
