:root {
	/* Prism Colors */
	--color-prism-text: #4d4d4c;
  --color-prism-0: #8e908c;
  --color-prism-1: #5e81ac;
  --color-prism-2: #8e5783;
  --color-prism-3: #6c894d;
  --color-prism-4: #378172;
  --color-prism-5: #bf616a;
}

:root.dark {
  /* Prism Colors */
	--color-prism-text: #eceff4;
  --color-prism-0: #566176;
  --color-prism-1: #6ca1c1;
  --color-prism-2: #a78ea2;
  --color-prism-3: #a3be8c;
  --color-prism-4: #88b3b3;
  --color-prism-5: #bf616a;
}


code[class*="language-"],
pre[class*="language-"] {
	color: var(--color-prism-text);
	background: none;
	text-shadow: 0 1px var(--color-light);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: var(--font-size-sm);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.8;
	tab-size: 2;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: var(--spacing-4);
	margin: 30px 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--color-light);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 1px;
	border-radius: .3em;
	white-space: normal;
}
:not(pre) > code[class*="language-"]:after {
	display: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--color-prism-0);
}

.token.punctuation {
	color: var(--color-prism-1);
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: var(--color-prism-1);
}

.token.number {
	color: var(--color-prism-2);
}

.token.boolean {
	color: var(--color-prism-1);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--color-prism-3);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: var(--color-prism-1);
	background: var(--color-light);
	text-shadow: none;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: var(--color-prism-4);
}

.token.keyword {
	color: var(--color-prism-1);
}

.token.regex,
.token.important {
	color: var(--color-prism-5);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}
