// colors
$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #0077b5;
$pinterest: #bd081c;
$email: #838485;
$icon: #fafafa;

.sharing {
	position: fixed;
	bottom: -65px;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	transition: left 0.3s, bottom 0.3s;

	@include mq($tablet) {
		top: 0;
		left: -65px;
		bottom: 0;
		right: auto;
		flex-direction: column;
	}

	&.show {
		bottom: 0;
		@include mq($tablet) {
			left: 0;
		}
	}

	&__label {
		font-size: var(--font-size-sm);
		margin: var(--spacing-0);
		color: var(--color-mid);
		display: none;

		@include mq($tablet) {
			display: block;
		}
	}

	a {
		height: 50px;
		width: auto;
		flex: 1 0;
		color: $icon;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: var(--font-size-xl);

		@include mq($tablet) {
			width: 50px;
			flex: 0 0 50px;
		}
	}

	&__facebook {
		background: $facebook;
		&:hover {
			background: darken($facebook, 10%);
		}
	}

	&__twitter {
		background: $twitter;
		&:hover {
			background: darken($twitter, 10%);
		}
	}

	&__linkedin {
		background: $linkedin;
		&:hover {
			background: darken($linkedin, 10%);
		}
	}

	&__pinterest {
		background: $pinterest;
		&:hover {
			background: darken($pinterest, 10%);
		}
	}

	&__email {
		background: $email;
		&:hover {
			background: darken($email, 10%);
		}
	}
}
