/**
	This file contains css variables for colors. This will be used for different themes on the site. All other items should go in the _utils.scss file as an scss variable.
*/

:root {
  --color-bg: #fafafa;
	--color-text: #404040;
	--color-light: #e7e7e7;
	--color-mid: #6d6d6d;
	--color-dark: #1d1d1d;
  --color-primary: #5BD7BE;
	--color-primary-alt: #BDEFE5;
}

:root.dark {
	--color-bg: #182227;
  --color-text: #E7E8E9;
	--color-light: #2F383C;
	--color-mid: #838485;
	--color-dark: #efefef;
  --color-primary: #298E7A;
  --color-primary-alt: #1e6759;
}
