@import './normalize';
@import './utils';
@import './variables';
@import './themes';
@import './elements';
@import './prism';
@import './toggle';
@import './header';
@import './projects';
@import './posts';
@import './bio';
@import './pagination';
@import './tags';


/** CUSTOM CLASSES **/
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 15px;
}
