@import '../../scss/utils';

.email-signup {
	display: block;
	margin: var(--spacing-6) var(--spacing-0);
	padding: var(--spacing-8);
	background: var(--color-grey-100);
	color: var(--color-grey-900);
	text-align: center;

	@include mq($tablet) {
		padding: var(--spacing-8) var(--spacing-20);
	}

	&__title {
		font-size: var(--font-size-xl);
		font-weight: 900;
		margin: var(--spacing-0) var(--spacing-0) var(--spacing-4);
		line-height: 1.2;
	}

	&__error {
		color: var(--color-error-600);
	}

	input {
		width: 300px;
		max-width: 100%;
		margin: var(--spacing-2) var(--spacing-0);
	}
}
